/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.loginHeader {
    width: 100%;
    padding: 12px 28px;
    border: 1px solid rgb(223, 223, 223);
  
   
}
.loginHeader h4{
    font-size: 2rem;
    color: rgb(51, 51, 51);
    text-transform: lowercase;
}
.loginHeader  h4 span{
    color: #0b9d8a;
    text-transform: capitalize;
}

/* header Responsive Media query ------------------------------------------- */
@media(max-width:768px){
    .loginHeader  h4{
        font-size: 1.5rem;
    }
}
/* endo of header styling --------------------------------------------------  */


.LoginBody{
    height: 100vh;
    padding-top: 20px;
    background-color: #FFFFFF;
    
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    margin: 20px 20px;
    padding: 20px;
    
  
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 1;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .signup .registrationTitle{
    font-size: 33px;
     color: #fff;
}
.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #0b9d8a;
    border-radius: 25px;
}

.form .form-group{
    width: 100%;
    margin-top: 50px;
}
.form  .form-group  #errorMssg{
    font-size: 0.8rem;
    padding: 3px 0px;
    color: #E91111;
}

.form  .form-group #emailFieldEmptyError{
    font-size: 0.8rem;
    padding: 3px 0px;
    color: #E91111;
}
.form  .form-group #passwordFieldEmptyError
{
    font-size: 0.8rem;
    padding: 3px 0px;
    color: #E91111;
}

.form  .form-group  #EmptyFiledErrorMssg{
    font-size: 0.8rem;
    padding: 3px 0px;
    color: #E91111;
}

.form  .form-group .input-field{
    position: relative;
    height: 40px;
    width: 100%;
}
#EmailErrorMssg{
   font-size: 0.8rem;
    
}

.form-group .input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.form-group .input-field input:is(:focus, :valid){
    border-bottom-color: #708b88;
}

.form-group .input-field  i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #0b9d8a;
    font-size: 23px;
    transition: all 0.2s ease;
}

.form-group .input-field input:is(:focus, :valid) ~ i{
    color: #0b9d8a;
}

.form-group .input-field i.icon{
    left: 0;
}
.form-group .input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form-group .input-field i.uil-eye{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #0b9d8a;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #0b9d8a;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    padding: 8px 25px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #0b9d8a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #0b9d8a;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.form .login-signup #loginLink{
    margin-left: 3px;
    text-transform: capitalize;
    font-weight: 600;
    color: #0b9d8a;
    font-size: 0.9rem;
}


.error-message{
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    font-weight: 500;
    color: red;
}

/* Responsive Login box ----------------------------------------------------------------------------- */

@media(max-width:768px){



    .LoginBody{
        height: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    .container{
        position: relative;
        max-width:90%;
        width: 90%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin: auto;
        margin: 0 20px;
        margin-top: 20px;
        
      
    }
    

}